@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    margin: 0 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 80px;
}

.col {
    width: 500%;
    max-width: 1000px;
    padding: 5px;
    padding-top: 0;
}

h3 {
    text-align: left;
    font-size: 25px;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="text"], textarea {
    width: 300%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #2a3d66;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1f2d4a;
}


